@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Courier New', Courier, monospace;
}

/* Light theme scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.7);
  border-radius: 10px;
}

/* Dark theme scrollbar */
.dark ::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 0, 0.3);
  border-radius: 10px;
}